/* default css for portfolio */

html, body {
	margin: 0 auto;
	height: 100%;
	width: 85%;
	padding: 0;
	font-size: 1em;
	color: #432D11;
<<<<<<< HEAD
	background: #BDA78A;
	
	
=======
	background: #BDA78A;	
>>>>>>> dev
}

h1 {
	font-family: 'Source Sans Pro', sans-serif;
<<<<<<< HEAD
=======
	margin-bottom: 0;
	text-align: left;
}

h2 {
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
>>>>>>> dev
}

div {
	font-family: 'Roboto', sans-serif;
<<<<<<< HEAD
	margin:  10px auto;
	padding: 5px;
=======
	width: 70%;
	margin:  10px auto;
	padding: 5px;
}

header {
	/*font-size: 2.827em;*/
	font-family: 'Source Sans Pro', sans-serif;
	margin: 10px auto;
	padding: 5px;
}

header hr {
	width: 100%;
}

footer {
	font-size: 0.707em;
	font-family: 'Roboto', sans-serif;
	margin:  10px auto;
	padding: 5px;
	text-align: right;
}

footer hr {
	width: 100%;
}

hr {
	text-align: right;
	width: 50%;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
>>>>>>> dev
}

.sideNav {
	height: 100%;
	margin: 0;
<<<<<<< HEAD
	width: 160px;
=======
	width: 10px;
>>>>>>> dev
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #947E61;
<<<<<<< HEAD
=======
	overflow-x: hidden; /* Disable horizontal scroll */
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
>>>>>>> dev
}

.sideNav a {
	padding: 5px;
	color: #432D11;
	font-size: 1.414em;
	display: block;
	text-align: center;
<<<<<<< HEAD

=======
	transition: 0.3s;
	visibility: hidden;
}

.sideNav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sideNav .closeNav {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
.main {
    transition: margin-left .5s;
    padding: 20px;
>>>>>>> dev
}